/* CheckoutPage.css */
.checkout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 80px auto 0 auto; /* Adjust margin-top to avoid overlap with Navbar */
}

.plan-details {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-right: 30px; /* Increase right margin for more space */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.form-container {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Center form horizontally */
  align-items: center; /* Center form vertically */
}

.form-container form {
  width: 85%; /* Ensure form takes full width of container */
  max-width: 500px; /* Reduced max-width for better readability and less border touching */
}

.plan-details h1 {
  color: #d5006d;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.plan-details .price {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.plan-details ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.plan-details ul li {
  margin-bottom: 10px;
  color: #666;
}

.plan-details ul li::before {
  content: '✓';
  color: #d5006d;
  margin-right: 5px;
}

.form-container h2 {
  color: #d5006d;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center; /* Center the heading */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  max-width: 400px; /* Reduce the width of the input fields */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto; /* Center the input fields */
}

.checkout-button {
  background-color: #d5006d;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0; /* Center the button */
}

.checkout-button:hover {
  background-color: #c51162;
}

/* Media Queries */
@media (max-width: 768px) {
  .checkout-container {
      flex-direction: column;
      padding: 20px; /* Reduce padding on smaller screens */
  }

  .plan-details,
  .form-container {
      margin-bottom: 20px;
  }

  .form-container {
      padding: 10px; /* Adjust padding for smaller screens */
  }

  .form-container form {
    max-width: 90%; /* Adjust form width for smaller screens */
  }

  .form-group input {
    max-width: 90%; /* Adjust input field width for smaller screens */
  }
}
